<p class="component-example-header">Creating a directive for global navigation, also using Anguler-ui-router to display each partial based on specific URL</p>

<div class="navigation-wrapper clearfix">
    <ul class="navigation">
        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
        <li ui-sref-active="active"><a ui-sref="work">Work</a></li>
        <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
    </ul>
</div>
